.each-card {
  display: flex;
  background: #FFF;
  width: 90%;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
}

.card-header {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.stat-list {
  list-style: none;
  padding: 5px;
}

.negative {
  font-weight: 700;
  color: red;
}

.positive {
  font-weight: 700;
  color: green;
}

.selected {
  border: 5px solid blue;
}