.main-section {
  background: lightblue;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.search-input {
  display: block;
  width: 90%;
  height: 25px;
  margin: 10px auto;
  border: none;
  padding: 0;
  text-align: center;
}